body {
    font: 20px Brandon Grotesque, sans-serif;
    line-height: 1.8;
    color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}
.spacer20 {
    height: 20px;
  }
.customUL li {
    padding: 20px 0 20px 0;
    border-bottom: solid 1px lightgray;
}
img {
    max-width: 100%;
    height: auto;
}

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #323132;
    padding: 30px 20px 30px 30px;
}
.card-highlight {
    margin: 25px 25% 20px 20px;
    border-top: 2px solid #b4a042;
}
.quote-separator {
    margin: 5px 20 5px 0;
    border-top: 1px solid lightgray;
}
.nobull {
    list-style-type: none;
}
/* .card-body {
    padding-top: 15px;
    border-top: 2px solid #b4a042;
} */
.card {
    border: none;
}
.card-1 {
    margin-top: 25px;
}
.ms-card1 {
    margin-top: 20px;    
}
.hc1-title {
    padding-bottom: 30px;
}
.rev-card1 {
    margin: 25px 0 25px 0;
}
.hosp-card1-image {
    margin: 0 0 25px 0;
}
.hosp-card1-title {
    margin: 0 0 25px 0;
}
.ms-card1-image {
    margin: 25px 0 25px 0;
}
.ms-card1-title, .ms-card2-title, .ms-card3-title, .ms-card4-title, .ms-card5-title, .ms-card6-title  {
    font-size: 1.5rem;
}
.ms-card1-text {
    font-size: 1rem;
}
.rev-card1-image {
    margin: 25px 0 0 0;
}
.card-2 {
    margin-top: 50px;
    padding: 10px;
}
.rev-card2 {
    margin: 25px 0 25px 0;
}
.hosp-card2-title {
    margin: 0 0 25px 0;
}
.hosp-card2-image {
    margin: 25px 0 25px 0;
}
.rev-card2-image {
    margin: 25px 0 25px 0;
}
.ms-card2-image {
    margin: 50px 0 50px 0;;
}
.ms-card2-text {
    margin-bottom: 75px;
}
.ms-card2-title {
    margin-bottom: 25px;
} 
.hc2-title {
    margin-top: 20px;
    /* margin-bottom: -25px; */
}
.card-3 {
    margin-top: 50px;
    margin-bottom: 75px;
}
.card-3 h1 {
    font-size: 1.5rem;
}
.rev-card3 {
    margin: 25px 0 25px 0;
}
.hosp-card3 li {
    font-size: 1rem;
}
.hosp-card3-title {
    margin: 25px 0 25px 0;
}
.ms-card3-text {
    margin: 25px 0 25px 0;
}
.ms-card3-image {
    margin: 25px 0 25px 0;
}
.rev-card3-image {
    margin: 25px 0 25px 0;
}
.rev-card4 {
    margin: 25px 0 25px 0;
}
.rev-card4-title {
    margin: 0 0 50px 0;
}
.rev-card4 li {
    font-size: 1rem;
}
.rev-card4 h2 {
    font-size: 1rem;
}
.hosp-card4-image {
    margin: 50px 0 25px 0;
}
.hosp-card4-title {
    margin: 0 0 25px 0;
}
.ms-card4-text {
    margin: 0 0 25px 0;
}
.ms-card4 p {
    font-size: 1rem;
}
.ms-card4 li {
    font-size: 1rem;
}
.hc4-body {
    padding: 50px;
}
.hosp-card5 li {
    font-size: 1rem;
}
.hosp-card5-image {
    margin: 25px 0 50px 0;
}
.hosp-card5-title {
    margin: 0 0 25px 0;
}
.ms-card5-image {
    margin: 0 0 25px 0;
} 
.ms-card5-title {
    margin: 50px 0 25px 0;
}
.ms-card5-text {
    margin: 50px 0 75px 0;
}
.hosp-card6 {
    margin: 0 0 50px 0;
}
.ms-card6-title {
    margin: 25px 0 25px 0;
}
.ms-card6-text {
    margin: 25px 0 75px 0;
}
.ms-card6-image {
    margin: 25px 0 50px 0;
}
.banner-text {
    padding: 20px; 
    background-color:rgba(255,255,255,.5);
}
.cursive-text {
    font-family: 'Hamilyn', cursive;
}
.jumbotron-medschools {
    background-image: url('../images/content/books1680x500.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }
.jumbotron-hospitals {
    background-image: url('../images/content/road1680x700.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
#jenAboutPhoto {
    max-width: 100%;
    height: auto;
    background-image: url('../images/content/aboutImg_1024x731.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-text {
    border:1px solid #323132; 
    background-color:#c0bba0; 
    padding:25px;
}
.hospital-card-6 {
    align-content:center;
    margin-top: 25px;
    margin-bottom: 50px;
}
.carousel-caption {
    max-width: 650px;
    text-align:left;
    margin-bottom: 100px;
    color: #000;
}
.carousel-caption p {
    font-size: 18px;
}
.responsive {
    max-width: 100%;
    height: auto;
}
.dropshadow {
    padding-bottom: 2px;
    background-image: url("../images/dropShadow1.png");
}
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: #eff1f8;
}
.navbar-light .navbar-brand {
    color: #000000;
}
.navbar-light .navbar-nav > li > a {
    text-shadow: #898a90 0.8em 0.8em 1.0em;
}
.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus,
.navbar-light .navbar-nav > li > a:active
{
    color: #b4a042;
}
.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
    color: blue;
    outline: 0;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #b4a042;
    text-shadow: #686628 0.8em 0.8em 1.0em;
}
.navbar-light .navbar-nav .nav-link:active {
    color: #000000;
}
.navbar-light .navbar-toggle:hover,
.navbar-light .navbar-toggle:focus {
    color: yellow;
}
.navbar-light .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.site-footer
{
    background-color:#323132;
    padding: 45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#dacfcf;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#dacfcf;
}
.site-footer a:active,
.site-footer a:focus,
.site-footer a:hover
{
    color:#b4a042;
}
.site-footer.inline li
{
    display:inline-block;
}

.site-footer a
{
    color:#dacfcf;
}
.site-footer li
{
    display:block;
}
.footer-links
{
    padding-left:0;
    list-style:none;
}
.footer-links li
{
    display:block;
}
.footer-links a
{
    color:#dacfcf;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#b4a042;
}
.footer-links.inline li
{
    display:inline-block;
}
.copyright-text
{
    margin:0;
}
/* @media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px;
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0;
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center;
    }
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* .ms-card1-text{
        color: red;
        border: 1px solid red;
    } */
    .jumbotron-medschools {
        background-image: url('../images/content/books_sm.jpeg');
        height: 350px;
    }
    .hc1-title {
        margin: 25px 0 0 0;
        font-size: 1.25rem;
    }
    .hc1-text p {
        font-size: .7em;
    }
    .card-image2 {
        margin: 50px 0 50px 0;
    }
    .ms-card3-image {
        margin: 50px 0 50px 0;
    }
    .hc2-title {
        margin: 25px 0 15px 0;
        font-size: 1.25rem;
    }
    .hc2-text p {
        font-size: .7em;
    }
    .hc3-row1 {
        padding-left: 100px;
    }
    .hc3-row2 {
        padding-right: 100px;
    } 
    .hosp-card1-image {
        margin: 75px 0 75px 0;
    }
    .ms-card1-image {
        margin: 50px 0 50px 0;
    }
    .hosp-card2-image {
        margin: 75px 0 75px 0;
    }
    .ms-card2-image {
        margin: 50px 0 50px 0;
    }
    .hosp-card3-image {
        margin: 75px 0 75px 0;
    }
    .ms-card3-image {
        margin: 50px 0 50px 0;
    }
    .hosp-card4-image {
        margin: 75px 0 75px 0;
    }
    .ms-card4-image {
        margin: 50px 0 50px 0;
    }
    .hosp-card5-image {
        margin: 75px 0 75px 0;
    }
    .ms-card5-image {
        margin: 75px 0 75px 0;
    }
    .hosp-card6 {
        margin: 50px 0 75px 0;
    }
    .ms-card6-image {
        margin: 75px 0 75px 0;
    }
    .carousel-caption {
        max-width: 768px;
        text-align:left;
        margin-bottom: 75px;
        color: #000;
    }
    .carousel-caption h1 {
        font-size: 1.5em;
    }
    .carousel-caption p {
        font-size: .75em;
    }
    .banner-text {
        padding: 20px; 
        margin-right: 25px;
        background-color:rgba(255,255,255,.5);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* .ms-card1-text{
        color: pink;
    } */
    .jumbotron-medschools {
        background-image: url('../images/content/books1680x500.jpeg');
        height: 600px;
    }
    .hc1-title {
        margin-top: 50px;
    }
    .hc1-text {
        margin-bottom: 50px;
    }
    .card-2 {
        margin: 25px 0 75px 0px;
    } 
    .hc2-title {
        /* color: pink; */
        margin: 25px 0;
        /* padding: 0px 0px 0px 175px; */
    }
    .hc2-text {
        padding: 20px 0px 0px 20px;
    }
    .ms-card3-image {
        margin-bottom: 50px;
    }
    .card-3 {
        max-width: 100%;
        height: auto;
        margin-top: 100px;
    }
    .hc4-img {
        padding: 0 0 0 50px;
    }
    .hc4-body {
        padding: 50px;
    }
    main {
        padding: 20px;
    }    
    wrapper {
        display: grid;
        grid-template-columns: .2fr 3fr .05fr .1fr 2fr;
        grid-template-rows: .5fr .5fr 5fr .1fr .2fr;
    }    
    section:nth-child(1) {
        grid-column: 1 / 4; 
        grid-row: 1 / 5; 
        z-index: 2; 
        background-color:#e0dabc;
        border:3px solid #323132;
        padding: 50px 75px 50px 75px;
    }
    section:nth-child(2) { 
        grid-column: 2 / 5; 
        grid-row: 2 / 6; 
        z-index: 1;
        background-color: #8b7c2c;
    }
    section:nth-child(3) { 
        grid-column: 3 / 6; 
        grid-row: 3 / 4; 
        z-index: 3;
        background-image: url('../images/content/aboutImg_600x428.jpeg');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        width: 100%;
        height: auto;
    }      
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
    }
    .banner-text {
        padding: 20px; 
        margin-right: 25px;
        background-color:rgba(255,255,255,.5);
    }
}

@media (max-width: 1024px) and (max-height: 1366) {
    .jumbotron-medschools {
        background-image: url('../images/content/books1680x500.jpeg');
        height: 600px;
    }
    .ms-card1-text {
        color: purple;
        border: 1px solid purple;
    }
    .card-image2 {
        margin: 50px 0 50px 0;
    }
    .hc4-img {
        border: 5px solid white;
    }
    .ms-card3-image {
        margin: 50px 0 50px 0;
    }
    .hc3-row1 {
        padding-left: 100px;
    }
    .hc3-row2 {
        padding-right: 100px;
    }
    .ms-card4-image {
        margin: 50px 0 50px 0;
    }
    .ms-card5-image {
        margin: 75px 0 75px 0;
    }
    .ms-card6-image {
        margin: 75px 0 75px 0;
    }
    .carousel-caption {
        max-width: 768px;
        text-align:left;
        margin-bottom: 75px;
        color: #000;
    }
    .carousel-caption h1 {
        font-size: 1.5em;
    }
    .carousel-caption p {
        font-size: .75em;
    }
    .banner-text {
        padding: 20px; 
        margin-right: 25px;
        background-color:rgba(255,255,255,.5);
    }
}

/* Extra large devices (large desktops, 1921px and up) */
@media (min-width: 1921px) {
    .jumbotron-medschools {
        background-image: url('../images/content/books1680x500.jpeg');
        height: 700px;
    }
    .ms-card1-text {
        color: green;
        border: 1px solid green;
    }
    h1 {font-size:3rem;}
    h2 {font-size:3rem;}
    .hc1-text p {
        font-size: 2rem;
    }
    .hc2-title {
        margin-top: 50px;
        padding: 0 0 0 500px;
    }
    .hc2-text {
        /* padding-right: 250px; */
    }
    .ms-card1 p {
        font-size: 2rem;
    }
    .ms-card1 li {
        font-size: 2rem;
    }
    .hosp-card1 p {
        font-size: 2rem;
    }
    .hosp-card1 li {
        font-size: 2rem;
    }
    .hosp-card1 h2 {
        font-size: 3rem;
    }
    .hosp-card2 p {
        font-size: 2rem;
    }
    .hosp-card2 li {
        font-size: 2rem;
    }
    .hosp-card2 h2 {
        font-size: 3rem;
    }
    .hosp-card3 p {
        font-size: 2rem;
    }
    .hosp-card3 li {
        font-size: 2rem;
    }
    .hosp-card3 h2 {
        font-size: 3rem;
    }
    .hosp-card4 p {
        font-size: 2rem;
    }
    .hosp-card4 li {
        font-size: 2rem;
    }
    .hosp-card4 h2 {
        font-size: 3rem;
    }
    .hosp-card5 p {
        font-size: 2rem;
    }
    .hosp-card5 li {
        font-size: 2rem;
    }
    .hosp-card5 h2 {
        font-size: 3rem;
    }
    .hosp-card6 p {
        font-size: 2rem;
    }
    .hosp-card6 li {
        font-size: 2rem;
    }
    .hosp-card6 h2 {
        font-size: 3rem;
    }
    .rev-card1 p {
        font-size: 2rem;
    }
    .rev-card2 p {
        font-size: 2rem;
    }
    .rev-card3 p {
        font-size: 2rem;
    }
    .rev-card4 {
        margin-top: 100px;
    }
    .rev-card4-text {
        margin-top: 150px;
    }
    .rev-card4 li {
        font-size: 2rem;
    }
    .rev-card4 h2 {
        font-size: 3rem;
    }
    .ms-card1 h2 {
        font-size: 3rem;
    }
    .ms-card2 p {
        font-size: 2rem;
    }
    .ms-card2 h2 {
        font-size: 3rem;
    }
    .card-2 p {
        font-size: 2rem;
    }
    .ms-card3 p {
        font-size: 2rem;
    }
    .ms-card3 h2 {
        font-size: 3rem;
    }
    .card-3 h1 {
        font-size: 4rem;
    }
    .hc3-row1 {
        padding-left: 350px;
    }
    .hc3-row2 {
        padding-right: 450px;
    }
    .card-3 {
        padding-top: 0px;
    }
    .ms-card4 p {
        font-size: 2rem;
    }
    .ms-card4 h2 {
        font-size: 3rem;
    }
    .ms-card4 li {
        font-size: 2rem;
    }
    .ms-card3-image {
        margin-bottom: 50px;
    }
    .hc4-img {
        padding: 0px 50px 0 40px;
    }
    .hc4-body {
        padding: 75px 75px 0 75px;
    }
    .hc4-body p {
        font-size: 2rem;
    }
    .ms-card5 p {
        font-size: 2rem;
    }
    .ms-card5 h2 {
        font-size: 3rem;
    }
    .ms-card6 p {
        font-size: 2rem;
    }
    .ms-card6 h2 {
        font-size: 3rem;
    }
    .carousel-caption {
        max-width: 1500px;
        text-align:left;
        margin-bottom: 365px;
        color: #000;
    }
    .carousel-caption h1 {
        font-size: 4em;
    }
    .carousel-caption p {
        font-size: 1.5em;
    }
    .banner-text {
        padding: 20px; 
        margin-right: 25px;
        background-color:rgba(255,255,255,.5);
    }
    .banner-text h2 {
        font-size: 3rem;
    }
    .banner-text p {
        font-size: 2rem;
    }
    section:nth-child(1) p {
        font-size: 2rem;
    }
    .navbar {
        font-size: 24px;
        letter-spacing: 3px;
    }
    .bg-1 {
        padding: 30px;
    }
    .site-footer
    {
        font-size:25px;
        line-height:34px;
    }
    .site-footer h6
    {
        font-size:26px;
    }
}
