body {
    font: 20px Hamilyn, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #323132; 
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.bg-2 { 
    background-color: #474e5d; 
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; 
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; 
    color: #fff;
}
.bg-5 {
    background-color: #00a79d;
    padding-bottom: 1px;
}
.container-fluid-padded {
    padding-top: 70px;
    padding-bottom: 70px;
}
.responsive {
    max-width: 100%;
    height: auto;
}
.dropshadow {
    padding-bottom: 5px;
    background-image: url("../assets/dropShadow1.png");
}
.navbar {    
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 13px;
    letter-spacing: 2px;
    background-color: #eff1f8;
}

/* .navbar-custom .navbar-nav > li > a:hover {
color: #b4a042;
} */

.navbar-light .navbar-brand {
    color: #000000;
}

.navbar-light .navbar-nav > li > a {
    padding-bottom: 10px;
    text-shadow: #898a90 0.8em 0.8em 1.0em;
}

.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus,
.navbar-light .navbar-nav > li > a:active
{
    color: green;
}

.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
    color: blue;
    outline: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    /* color: #b4a042; */
    color: red;
}

.navbar-light .navbar-nav .nav-link:focus {
    /* color: #b4a042; */
    color: #000000;
}

.navbar-light .navbar-nav > .active > a,
.navbar-light .navbar-nav > .active > a:hover,
.navbar-light .navbar-nav > .active > a:focus {
    color: green;
    outline: 0;
}

.navbar-light .navbar-toggle {
    border-color: orange;
}

.navbar-light .navbar-toggle:hover,
.navbar-light .navbar-toggle:focus {
    color: yellow;
}

.navbar-light .navbar-toggle .icon-bar {
    background-color: #FFF;
}


/* 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
    color: #000000;
    outline: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #000;
    outline: 0;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #b4a042;
    outline: 0;
} */
/* 
.navbar-default {
    background-color: #CC0000;
    border-color: #AA0000;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #AA0000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #AA0000;
}

.navbar-default .navbar-text {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border-color: #AA0000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #AA0000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
} */


